@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Это стартовое меню еще не придумал о чем сайт и т.д.</p>
    <h3>переходите на User Page</h3>
    <p><a asp-controller="Home" asp-action="UserPage">HERE</a></p>
</div>
